
    header {
        background-color: #2C3D50;
    }

    /* Prima Section */

    .section-one,
    .section-three {
        background-color: #1ABC9C;
    }

    /* Footer */

    .footer-section-one {
        background-color: #3A546D;
    }

    .footer-section-two {
        background-color: #2C3D50;
    }

    /* ICON */

    .fa-brands {
        display: inline-block;
        width: 1em;
        height: 1em;
        line-height: 1em;
        text-align: center;
    }